.footerNav {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #fff;
    list-style: none;
    opacity: 0.8;
  }
  a {
    text-decoration: none;
    &:hover {
      color: red;
      text-decoration: underline;
      opacity: 1;
    }
    &.active {
      color: red;
      text-decoration: underline;
      opacity: 1;
    }
  }


}

